**<center><font color='#023F7C' size="6.5">Intermediate Python &#128421;&#65039;</font>** <br>
<font color=#023F7C size=4>**Hi! PARIS DataBootcamp 2024**</font> <br>
<font color=#023F7C size=2>11:30-12:30 AM / 1:30-2:30 PM </font> <br>

</center>

<img src = https://www.hi-paris.fr/wp-content/uploads/2020/09/logo-hi-paris-retina.png width = "300" height = "200" >

<font color="#023F7C">**Author**:</font> Laur√®ne DAVID, Machine Learning Research Engineer @ Hi! PARIS <br>

# **<font color='#023F7C'> Introduction</font>**

This course is designed for **programmers** who are already comfortable with Python's basic syntax. <br>

In the first section, we'll teach you how to develop reliable, efficient and clean code to **level-up your Python skills** üìà. <br>
The second section will introduce essential **Python libraries for Data Science üöÄ**.

<br>

<img src = https://www.freecodecamp.org/news/content/images/2021/08/chris-ried-ieic5Tq8YMk-unsplash.jpg width = "500" height = "300" >

<font size=5>**Reminder on Python's syntax üë©‚Äçüè´**</font> <br>

Python is popular programming language with many built-in functionalities. <br>
Today, it is used for many tasks such as Data visualization, Web development, Machine Learning to name a few.

Here is a summary of Python's basic objects/features:
- **Data types**: numerical (int, float), string, lists, dictionaries, sets, boolean, noneType
- **Operators**: arithmetic, logical, membership (`==`, `or`/`and`, `in`)
- **Loops**: `for`, `while` loops to repeat code
- **Conditional statements**: `if`, `else`, `elif` keywords
- **Functions**: `print()`, `len()`, `range()`, `max()`, `min()`
- **Methods**: `.append()`, `.extend()`, `.sort()` (lists), `.split()`, `.join()` (string)

<font size=5>**Coding guidelines üí°**</font> <br>

Before starting the course, we'd like to share a few basic rules to follow for Python developpers. <br>
We'll also introduce more advanced practices at the end of the first section.
- Add comments (`#`) to your code
- Create unique variable names (not already defined in Python)
- Don't hesitate to debug your code using `print()`
- Restart your Python environment when using a notebook
- Use the `help()` function to get more information

In [ ]:
# Code to suppress warnings
import warnings
warnings.filterwarnings("ignore")

# <font color='#023F7C'>**1. Improve your Python skills üìà**</font>

In this section, you'll learn how to use Python's Standard Library, how to create efficient lists and to manipulate strings. <br>

## <font color='#023F7C'>**1.1 Standard Library: os, datetime**</font>

The **Standard Library** is a collection of modules that can easily be imported into Python code. <br>
It comes bundled with Python's core distribution and includes 200 core modules.

In this section, we will introduce two Standard Library modules: `os`, `datetime`. <br>

<img src = https://ajaytech.co/wp-content/uploads/2019/05/python_standard_libraries-1.png width = "550" height = "350" >

**What is a module ?** <br>
A module is a Python file containing definitions, statements, and functions. <br>
To import a module into your code, you can use the `import` keyword.

In [ ]:
import os
import datetime

<font size=5><u>**os**: interact with your operating system</u></font> <br>

The **os** module provides functions to interact with an **operating system** (Windows, macOS, Linux...). <br> It enables programmers to develop **robust** and **platform-independent** Python code. <br>
- You can create, delete and manage files and directories
- You can handle paths to ensure compatibility between platforms

| os methods | description |
| --------| -------------|
|`os.getcwd()` | Get the current working directory.
|`os.chdir(path)` | Change the current working directory to a specified path.
|`os.listdir(path)` | List the files and directories in the specified path.
|`os.path.join(path, *paths)`| Join one or more path components into a single path.
|`os.path.split(path)`| Split a path into the directory part and the filename part.

**What is the current working directory ?** <br>
The current working directory (cwd) is the directory where Python is executing code in your computer. <br>
To access files outside of the cwd, you need to write the file's exact path.

In [ ]:
# Get the current working directory
os.getcwd()

In [ ]:
# Use os.path.join to create a full path
path_to_file = 'path_to_file' # path
file_name = "file_name.csv" # file name

os.path.join(path_to_file,'file_name.csv')

In [ ]:
# List every file in your current working directory
os.listdir()

You can also use the `glob` module to find files that matches a specific pattern. <br>
The `glob.glob()` function takes a file path pattern and returns a list of file names that match the pattern.

<br>

<font size=5><u>**datetime**: Manipulate date & time data</u></font> <br>

Python doesn't have a built-in data type to work with date/time data. It often stores this type of data as string objects.

The **datetime** module provides data types and methods to easily process dates, time, and time intervals. <br>
The module has six main classes to work with date/time data.


| Datetime class | Description |
| ------| ------------|
| `date`|  Date (year, month, and day) without time information |
|`time` | Time (hour, minute, second, and microsecond) without date information |
| `datetime` | Combination of date and time (year, month, day, hour, minute, second) |
| `timedelta` | Duration or difference between two dates or times.

Each datetime class has its own methods which includes creating dates, extracting parts of a date...  <br>

*Note: You can import a specific class from a library using `from ... import ...`.*

In [ ]:
from datetime import date # date class
from datetime import datetime # datetime class

In [ ]:
# Create a date object
date_ = date(year=2012, month=10, day=4) # 4th of October 2012

In [ ]:
# Extract the year, month and day of the created date object
print("Year:", date_.year) 
print("Month:", date_.month) 
print("Day:", date_.day)

You can **extract a date/datetime** with a specific format using `.strptime(format)`. <br>
Formats for timestamps include `%Y` for year, `%m` for month, for `%d` day, `%H` for hour ...

In [ ]:
# Create a datetime object
datetime_ = datetime(year=2012, month=10, day=4, hour=10, minute=35, second=00)
datetime_

In [ ]:
# Create different formats for dates
year_month_day = "%Y-%m-%d" # year-month-day
year_month = "%Y-%m" # year-month

In [ ]:
# Apply the two date formats on the datetime object (datetime_)
print("Year-month-day:", datetime_.strftime(year_month_day))
print("Year-month:", datetime_.strftime(year_month))

You can also **convert strings to a datetime** object using `datetime.strptime(str, format)`. <br>

In [ ]:
datetime_str = "2012-10-4 11:35:00" # original string
datetime_format = '%Y-%m-%d %H:%M:%S'# datetime format

In [ ]:
# Convert the string to a datetime object using the datetime format
datetime.strptime(datetime_str, datetime_format)

<br>

## <font color='#023F7C'>**1.2  Efficient loops: list comprehension, enumerate/zip**</font>

<font size=5><u>**Single-line for loops**: list comprehension</u></font> <br>

List comprehensions allow you to **write loops using a single line of code.** <br>
Rather than creating a list and adding elements to it, you define the list and its contents at the same time.

In the following example, an `if else` statement was added inside the list comprehension.

<img src = https://4.bp.blogspot.com/-uRPZqKbIGwQ/XRtgWhC6qqI/AAAAAAAAH0w/--oGnwKsnpo00GwQgH2gV3RPwHwK8uONgCLcBGAs/s1600/comprehension.PNG width = "500" height = "200" >

In [ ]:
list_text = ["Welcome","to","the","Hi!","Paris","Data","Bootcamp"]

In [ ]:
# Compute the length of each word with a simple for-loop
result = []
for elem in list_text:
  result.append(len(elem))
  
result

In [ ]:
# Compute the length of each word with list comprehension
[len(elem) for elem in list_text]

You can create **nested loops** by adding more `for` statements

In [ ]:
# Create a nested list with the sentence
nested_list_text = [["Welcome","to","the","Hi!"],["Paris","Data","Bootcamp"]]
nested_list_text

In [ ]:
# Flatten the nested list using list comprehension
[elem for list_ in nested_list_text for elem in list_]

<br>

<font size=5><u>**Enumerate & zip functions**</u></font> <br>


**1. Enumerate** <br>

`enumerate()` generates **tuples with the list's items and corresponding index.** <br>
It is often used to get the indexes of an object, instead of using `range(len(object))`

In [ ]:
# Define an iterable object (list)
list_str = ["Hi!", "PARIS", "Data", "Bootcamp"]

# Convert an enumerated object to a list
list(enumerate(list_str))

In [ ]:
# Enumerate with a for-loop
for elem in enumerate(list_str):
  print(elem)

In [ ]:
# Enumerate with list comprehension
[(i,j) for i,j in enumerate(list_str)]

**2. Zip** <br>

The `zip()` function **combines multiple lists into tuple with multiple elements.** <br>
It pairs elements with the same index in each iterable `(item1,item2)` <br>
- Allows you to loop through multiple iterables at the same time
- Preferred over nested loops when possible

In [ ]:
# Create an iterable
list_range = range(2,6)

# Create an iterable by combining list_range and list_str
list(zip(list_range,list_str))

In [ ]:
# Zip with list-comprehension
[(i,j) for i,j in zip(list_range,list_str)]

<br>
<br>

## <font color='#023F7C'>**1.3 String manipulation**</font>

Strings are are ordered list of characters (letters, numbers, spaces, ponctuation...). <br>
They are Python's built-in data type for text and are defined using quotes (`''` or `""`) <br>

In this section, we'll show you to efficiently handle strings using **string methods**.

<font size=5>**<u>String methods</u>**</font> <br>

Methods are operators that are associated to a specific Python object (string, list, dict,...). <br>
They are used using the dot notation (examples: `.append`, `.sort`)

In the following table, we've listed some methods you can apply on strings. <br>

| str method | Description | Arguments |
|-----------| ------------|------------|
| `.lower()`, `.upper()` | Converts all strings to lower or upper case | No arguments |
| `.lstrip()`, `.rstrip()`, `.strip()` | Removes leading or trailing characters from a string (or both) | `chars`: set of characters to be removed (default= `" "`) |
| `.replace()` | Replace all occurences of a substring | `oldvalue`: substring to search for <br> `newvalue`: substring to replace |
| `.split()` | Splits the string into a list of substrings based on a separator | `separator`: separator to split string (default= `" "`) |
| `.startswith(prefix)`, `.endswith(suffix)` | Check if a string starts or end with a substring | `prefix`: string to be checked at the start <br> `suffix`: string to be checked at the end |
| `.join()` |  Join the elements of a list into a string with a specified separator | The separator is placed at the beginning ex: `" ".join()`<br> The argument is the list of strings to join

In [ ]:
text = "We###lcome to the Hi! Par###is DataBootcamp 2023 !"

In [ ]:
# Split the text into a list using the " " character
text_split = text.split(" ")
text_split

In [ ]:
# Join the elements of text_split into a string
" ".join(text_split)

In [ ]:
# Clean the text (replace ### with an empty string)
text.replace("###","")

# <font color='#023F7C'>**2. Python for Data Science üöÄ**</font>

An open-source library is a collection of modules made available to the public for free under an open-source license. <br>
Python has a rich ecosystem of **open-source libraries** dedicated to Data Science.

Data Science libraries are useful for every step of a project, from **Data Cleaning üßπ** to **Model Building ‚öôÔ∏è**. <br>
You'll use the following librairies during the bootcamp:
- **NumPy**: A fundamental library for Numerical computing in Python.
- **Pandas**: A popular library for Data manipulation and analysis
- **Matplotlib**/**Seaborn** : Plotting libraries to generate visualizations in Python.
- **Scikit-learn**: A library that provides tools for Machine Learning (pre-processing, modeling,...).

<br>

<img src = https://global-uploads.webflow.com/6473d8d02a3cf26273f2787d/6473d8d02a3cf26273f2873c_image3-1024x683.png width = "500" height = "350" >

Open-source libraries need to be installed before being imported to Python code.
- Install a library using `pip install ...` (terminal or notebook cell)
- Load a library with `import ...`

##  <font color='#023F7C'>**2.1 Numerical computing with NumPy**</font>

**NumPy** is a fundamental Python library for Numerical computing. <br>
- It provides tools to work with multi-dimensional arrays and matrices. <br>
- It also provides a vast collection of mathematical functions that can be used on arrays.

In [ ]:
import numpy as np

**<font size='5'><u>NumPy arrays</u>**</font> <br>
NumPy provides an **array object** that is much faster to process than lists. <br> They are created using `np.array()`.
- Arrays are homogeneous, which means each item should have the same data type
- Arrays can be multidimensional (1D: vector, 2D: matrix, 3D...)

<img src = https://predictivehacks.com/wp-content/uploads/2020/08/numpy_arrays-1024x572.png width = "500" height = "280" >

In [ ]:
# 1D array (vector)
array_1d = np.array([1,2,3,4,5,6])
array_1d

In [ ]:
# 2D array (matrix)
array_2d = np.array([[1,2,3],[4,5,6]])
array_2d

In [ ]:
# Get an array's shape with np.shape (or .shape)
print("1D shape:",np.shape(array_1d))
print("2D shape:",np.shape(array_2d))

In [ ]:
# Slicing a 1D array with a single index
array_1d[0]

In [ ]:
# Slicing a 2D array with two indexes
array_2d[0,:] # get the first row

**<font size='5'><u>NumPy operations</u>**</font> <br>

NumPy has many mathematical functions that can be used on its arrays. <br>
They extend the capabilities of Python's built-in operators and Standard library modules.

They tend to be more efficient than for-loops and list comprehensions on numerical data.

| Type | Numpy functions | Description |
| ------------------| ------------|-----------------|
| Trigonometric | `np.cos()`, `np.sim()`, `np.tan()`, `np.arccos()` | Trigonometric and inverse trigonometric functions |
| Exponential/Logarithmic |   `np.exp()`, `np.log()` |  Exponential and logarithm functions |
| Rounding/Absolute |  `np.round()`, `np.floor()`, `np.ceil()`, `np.abs()` | Round a value or compute its absolute value |
| Statistical | `np.mean()`, `np.median()`, `np.std()` | Compute basic statistical metrics (mean, median, std,...) |

In [ ]:
print(np.exp(0)) # exponential
print(np.log(1)) # log

In [ ]:
# Apply the log function to each element of an array
np.log(array_1d)

Some functions allow **mathematical operations to be vectorized**. <br>
Vectorized operations are applied simultaneously to each element of one or more arrays.  

Here are some of these functions:  
- `np.add()`: Sum the elements of two arrays element by element
- `np.substract()`: Substract the elements of two arrays element by element
- `np.multiply()`: Same with multiplication 
- `np.divide()`: Same with division

In [ ]:
array1 = np.array([2,4,6,8,10])
array2 = np.array([2,2,2,2,2])

# Add elements of array1 and array2 element wise
np.add(array1,array2)

## <font color='#023F7C'>**2.2 Data manipulation with Pandas</font>**

**Pandas** is a popular library for Data manipulation and analysis. <br>
It offers powerful data structures and tools to handle structured data. <br>

In [ ]:
import pandas as pd

In [ ]:
print("Pandas version:", pd.__version__)

**<font size='5'><u>What are DataFrames ?**</u></font> <br>

Dataframes are **two-dimensional** data structures with rows and columns. <br> Each row is identified with an index label, and each column by a column name.

A dataframe with a single column (and index) is called a Pandas Series.

<img src = https://pynative.com/wp-content/uploads/2021/02/dataframe.png width = "600" height = "300" >

**Build a dataframe** <br>
Dataframes are created using the `pd.DataFrame()` statement. <br>
You can use a dictionary or a two-dimensional array to build it.

In [ ]:
name_column = ["Joe", "Nat", "Harry", "Sam", "Monica"]
age_column = [20, 21, 19, 20, 22]
marks_column = [85.10, 77.80, 91.54, 88.78, 60.85]

In [ ]:
# Define the dataframe using a dictionary 
df = pd.DataFrame({"Name":name_column,
                   "Age":age_column,
                   "Marks":marks_column})

In [ ]:
df

You can also **load a dataframe** from an external file (csv, excel, json) using `pd.read_` type functions. <br>

Here is an example using `pd.read_csv()` to load the `football_players.csv` file. <br>
This csv file contains data on a large number of male and female football players ‚öΩ. <br>

In [ ]:
# Import a csv file as a dataframe
players_df = pd.read_csv("football_players.csv")

In [ ]:
# Show the first five rows of a dataframe
players_df.head()

You can also <u>save</u> dataframes into different data formats with `.to_csv()`, `to_excel()`, ...

**Select columns in a dataframe** <br>
To select a single column, you have to use brackets `[]`. <br>
To select more than one column, double brackets are used `[[]]`.

In [ ]:
# Select the Gender column
players_df["Gender"]

In [ ]:
# Select the Gender and Year columns
players_df[["Gender","Year"]]

**Pandas dtypes** <br>
Pandas has its own data types (dtypes) to store information:
- Numerical types are stored as `int64` or `float64`
- String/mixed types are stored as `object`
- Other dtypes: `bool`, `datetime64[ns]`, `timedelta`, `category`

You can access a dataframe's dtypes with `.dtypes` <br>
You can also modify a columns' dtype using `.astype()`

In [ ]:
# Use .dtypes to access these data types
players_df.dtypes

You can also use `.info()` to get general information on a dataframe (number of rows/columns, name of columns, dtypes,...).

In [ ]:
players_df.info()

**Remark**: The `attacking` and `preferred_foot` columns have a number of "non-null" values that is lower than the total number of rows (13299). <br>
This indicates that the two columns contain missing values.

**<font size='5'><u>Manipulate Dataframes</u>**</font> <br>

Pandas has a large collection of methods to **manipulate DataFrames**. <br>
They allow you to analyze missing values, sort columns, reset indexes, convert to numpy array, ...

| Pandas Function | Description | Parameters |
|----------|-------------|------------|
| `.value_counts()`| Count the number of rows with each unique variable value | `normalize`: normalize frequencies (bool) <br> `sort`: sort by frequencies |
| `.sort_values()`| Order rows based on the values of one or more columns | `by`: column names to sort by <br> `ascending`: Way of sorting (bool) <br> `inplace`: Perform operation in place (bool) |
| `.drop()`| Drop rows or columns from a dataframe | `index`: indexes to drop <br> `columns`: columns to drop |
| `.reset.index()`| Reset index to row numbers, moving index to columns | `drop`: Keep or drop previous index to df (bool) <br> `inplace`: Apply modifications directly to df (bool) |
| `.to_numpy()` | Convert a DataFrame to a NumPy array | `dtype`: Dtype to pass to the array |
| `.to_list()` | Convert a single column of a DataFrame to a list |  |
| `.astype()` | Cast a pandas object (series, dataframe) to a specified dtype | `dtype`: Dtype to cast <br> `copy`: Apply the transformation directly to the object (True) or don't (False)

In [ ]:
# Get the number of players for each possible value of "main_position"
players_df["main_position"].value_counts()

In [ ]:
# Drop the "Gender" and "Year" columns
players_df.drop(columns=["Gender","Year"])

**Remark**: This doesn't drop the columns in the dataframe definetly. <br>
If you want these modifications to be saved to `players_df`, you need to add the `inplace=True` parameter.

In [ ]:
# Select the "Year", "main_position" and "wage_eur" columns then sort values by "Year" 
players_df[["Year", "main_position", "wage_eur"]].sort_values(by=["Year"])

In [ ]:
# Reset the index of the previous dataframe
players_df[["Year", "main_position", "wage_eur"]].sort_values(by=["Year"]).reset_index(drop=True) # drop = True to not add an "index" column

For **missing values**, you can use the following functions: 

| Pandas Function | Description | Parameters |
|----------|-------------|------------|
| `.isna()` | Detect missing values. True if the value is NaN, False if it isn't | |<>
| `.dropna()`| Remove missing values (NaN) | `axis`: drop rows with NAN (0) or columns (1) <br> `subset`: columns to drop NaN from |
| `.fillna()` | Fill NaN values with a specific value | `value`: Value to replace NaN (scalar, dict, df)

In [ ]:
# Compute the number of missing values per column
players_df.isna().sum()

In [ ]:
# Fill the missing values of "Attacking" with 50
players_df["attacking"].fillna(50) # add inplace=True to modify the column directly

<u>**<font size='5'>Indexing a DataFrame**</font> </u><br>

DataFrames are ordered collections of data. <br>
They can be filtered using label and integer-based indexing (`.loc[]`,`.iloc[]`)

**`df.loc[conditional_statement]`** <br>

**Select a group of rows with a conditional statement** <br>
- The conditional statement should apply to columns (and not rows) <br>
- The first index refers to rows, the second refers to columns

In [ ]:
# Select players whose national team is Germany
players_df.loc[players_df["national_team"]=="Germany"]

Bitwise Operators can also be used to add multiple statements to `.loc[]`.
- `&`: AND
- `|`: OR
- `~`: NOT

In [ ]:
# Select players whose national team is Germany and with a age above 30 years old
players_df.loc[(players_df["national_team"]=="Germany") & (players_df["age"]>30)]

**`df.iloc[row_indices,column_indices]`**

**Integer-location based indexing for selection by position.** <br> It only accepts integer indices for rows and columns.

In [ ]:
# Select the first 10 rows of the dataframe
players_df.iloc[:10,:]

**<font size='5'><u>Modify DataFrames</u>**</font> <br>

Series and DataFrames are mutable objects in Python. <br>
You can easily **add new columns** or **modify** existing columns to these objects. <br>
- Add new columns with `df[new_column_name] = ...`
- Modify an existing column with `df[column_name] = df[column_name]...`

**`.apply()`** <br>
**Apply a function a function to a pandas series/dataframe.**
<br>
Lambda functions are commonly used with the apply method but you can use any type of function.

In [ ]:
# Add a new column with the players height in foot (foot = centimeters/30.48)
players_df["height_foot"] = players_df["height_cm"].apply(lambda x: x/30.48) # changes saved to the dataframe

In [ ]:
players_df["height_foot"]

**<font size='5'><u>Summarize a DataFrame</u>**</font> <br>

**`.sum()`, `.mean()`, `.max()`,`.median()`, `.size()`...** <br>
**Use aggregation functions to obtain summary statistics** <br>

You can use built-in aggregation functions (such as `.sum`, `.mean`, `.max`, etc.). <br>
You can also use `.agg()` to apply different aggregation functions to variables.

In [ ]:
# Compute the average value of "defending"
players_df["defending"].mean()

You can also use `.describe()` to get summary statistics on int or float variables.

*To select columns with a specific dtype, you can use `.select_dtypes(include=)`.*

In [ ]:
# Compute summary statistics for int and float variables
players_df_numerical = players_df.select_dtypes(include=[int, float]) # select columns with int or float values
players_df_numerical.describe()

**`.groupby()`** <br>

**Group rows of a DataFrame by one or more columns and perform aggregations.**

This method allows you to perform summary statistics on groups of rows. <br>
It is usually combined with built-in statistical operations such as `.sum()`, `.mean()`,...

In [ ]:
# Compute the average defending skills per league_country
players_df.groupby("league_country")["defending"].mean()

You can group the dataframe based on more than one columns.

In [ ]:
# Compute the average defending skills per league_country and Year
players_df.groupby(["league_country", "Year"])["defending"].mean()

**<font size='5'><u>Concatenate DataFrames</u>**</font> <br>


**`.concat()`** <br>

**Concatenate two dataframes along a common axis (rows or columns).** <br>
The `axis` parameters allows you to choose which type of concatenation you want applied.
- Vertical (`axis = 0`): Concatenate dataframes vertically along the rows.
- Horizontal (`axis = 1`): Concatenates fataframes horizontally along the columns


<br>

<img src = https://miro.medium.com/v2/resize:fit:2000/1*NLnoAF5uOSBC2Y7IuzfM_Q.png width = "800" height = "400" >

In [ ]:
# First dataframe
df3 = pd.DataFrame({'Name': ['Alice', 'Bob'],
                    'Age': [25, 32]})
df3

In [ ]:
# Second dataframe
df4 = pd.DataFrame({'Name': ['Charlie', 'David'],
                    'Age': [28, 21]})
df4

In [ ]:
# Concatenate DataFrames vertically (along the rows)
concatenated = pd.concat([df3, df4])
concatenated

**<font size='5'>Let's recap on Pandas:**</font> <br>
- Pandas Data structures: `pd.DataFrame()`, `pd.Series()`
- Pandas dtypes: `int64`, `float64`, `object`, `datetime64`, ...
- Load/Save to csv: `.read_csv()`, `.to_csv()`
- Index/Filter a dataframe: `[]`, `.loc[]`, `.iloc[]`
- Concatenate a dataframe: `.concat()`
- Summarize a dataframe: `.groupby()`, `.agg()`, `.mean()` ...
- Modify/Reshape a DataFrame: `.apply()`, `.melt()`

You can find out more about pandas features in this [cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

## <font color='#023F7C'>**2.3 Data visualization with Matplotlib & Seaborn**</font>

Python has many popular libraries to create visualizations. <br>
Today we will focus on two of its most popular libraries, **Matplotlib** and **Seaborn**.

**<font size='5'><u>Plots with Matplotlib</u>**</font> <br>

Matplotlib is a popular data visualization library with a large collection of plotting functions. <br>
It has many tools to customize plots with titles, legends, labels,...
- Plotting functions/tools in `matplotlib.pyplot` submodule (alias `plt`)
- Libraries built on top of Matplotlib: Seaborn, Pandas (plot function)

In [ ]:
import matplotlib.pyplot as plt # pyplot = submodule of matplotlib

Matplotlib creates plots by drawing a **Figure**, an overall container for the plot. <br>
Within a Figure, you can add axes, data points, a title, etc..

<br>

| Component | Description | Function |
|----------| -------------|---------------------|
| Figure | Top-level container that holds all the elements of a plot <br> Implicitly called when you call a plot function (not mandatory)  | `plt.figure()`|
| Plot function | Create various kinds of plots (line, scatter, bar,...) | `plt.plot()`, `plt.scatter()`, <br> `plt.bar()`, `plt.hist()`... |
| Legend | Provide additional information about plotted data | `plt.legend()` |
| Title | Provide a title to the plot | `plt.title()`|
| Axis labels | Add labels for the x and y axis | `plt.xlabel()`, `plt.ylabel()` |
| Show | Display all open figures (not mandatory) | `plt.show()` |

<br>

<img src = https://matplotlib.org/3.1.0/_images/anatomy.png width = "500" height = "500" >

In [ ]:
# Plot the distribution of player wages 

plt.hist(x=players_df["wage_eur"]) # create the histogram
plt.title("Distribution of player wages") # add a title
plt.xlabel("Player wages")
plt.show()

In [ ]:
# Create a scatter plot with players height (in cm) and movement 

plt.figure(figsize=(10,6)) # Modify the size of the plot
plt.scatter(x=players_df["height_cm"], y=players_df["movement"]) # Build scatter plot 
plt.xlabel("Height (in cm)") # add label for x axis
plt.ylabel("Movement score") # add label for y axis
plt.title("Plot of height and movement score") # add title
plt.show()

Most of matplotlib's components can be used with other data vizualisation packages (*Seaborn* for example) to customize plots. <br>

**<font size='5'>Plots with Seaborn**</font> <br>

**Seaborn** is a high-level plotting library built on top of Matplotlib. <br>
- Simpler syntax than matplotlib
- Less customizable but offers improved visual aesthetics (many themes available)
- Created for statistical data visualization (kdeplot, histplot,...)

<img src = https://miro.medium.com/v2/resize:fit:1107/1*oyX3i6zDjjvdy2IVRa-oAw.png width = "500" height = "300" >

In [ ]:
# Install a package on JupyterLite
# import piplite
# await piplite.install('seaborn')

In [ ]:
import seaborn as sns

Seaborn's plotting functions have a **dataset-oriented API**. <br>
Seaborn takes dataframes as input to create graphs.

Here are commonly used parameters in seaborn plots.
- `data`: Input dataframe to create plot
- `x`, `y`: Variables to use as x, y axis
- `hue`, `fill`: Grouping/id variable that will produce plots with different colors

In [ ]:
# Plot the distribution of players' skill score using sns.kdeplot
sns.kdeplot(data=players_df, x="skill", fill="skill")
plt.title("Distribution of players skills")
plt.show()

In [ ]:
# Create a bar plot with the average height (in cm) of players per "main_position"

# Step 1: Build a summary dataframe to compute the median age per main position
df_height_position = players_df.groupby("main_position")["height_cm"].mean()
df_height_position = df_height_position.to_frame().reset_index()
df_height_position

*`.to_frame()` was used to convert the pandas series into a dataframe.* 

*`reset.index` was used create a column for "main_position", which was originally in the index.*

In [ ]:
# Step 2: Create a bar plot with the df_count_position
sns.barplot(data=df_height_position, x="main_position", y="height_cm", hue="main_position")
plt.title("Average height per player position")
plt.show()

Python has other **data visualization frameworks** for more advanced visualization tasks
- **Plotly**: Data visualization library with interactive plots
- **[Dash](https://plotly.com/examples/)/[Streamlit](https://streamlit.io/gallery)**: Build interactive web applications and data dashboards

##  <font color='#023F7C'>**2.4 Training exercices**</font>

This section contains exercices for you to apply what you have learned about **numpy** and **pandas** and **matplotlib** in today's course. <br>
The `players_df` dataframe with football player data will be used for these exercices.

<br>

<img src = https://cdn-icons-png.flaticon.com/512/1099/1099672.png width = "200" height = "200" >

In [ ]:
players_df

<br>

<font color='#023F7C' size=4>**Question 1 üìù**</font><br>
The `players_df` dataframe has missing values in two variables:
- Replace them in `attacking` with the variable's mean value 
- Replace them in `preferred_foot` with the most frequent value 

*Make sure these modifications are saved to the dataframe*

In [ ]:
# Replace the missing values in "attacking"

In [ ]:
# Replace the missing values in "preferred_foot"

<br>

<font color='#023F7C' size=4>**Question 2 üìù**</font><br>
Build a dataframe with the frequency of each country in `league_country` <br>
Then, use this dataframe to build a barplot.

*Hint: You can convert a Series to a DataFrame using `.to_frame()`*

In [ ]:
# Build the dataframe

In [ ]:
# Create the bar plot

<br>

<font color='#023F7C' size=4>**Question 3 üìù**</font><br>
Do the same thing as Question 2 but plot the percentage (%) instead of the frequency.

*Hint: You can create a new column with the percentage values*

In [ ]:
# Add a percentage column to the dataframe

In [ ]:
# Create a bar plot with the percentage column

<br>

<font color='#023F7C' size=4>**Question 4 üìù**</font><br>
Remove players/rows from `players_df` whose wage is above the third quartile (75%) of `wage_eur`.

In [ ]:
# Get the third quartile of the wage_eur column

In [ ]:
# Remove outliers from players_df

<br>

<font color='#023F7C' size=4>**Question 5 üìù**</font><br>
Create a dataframe with the average wage of players based on `Gender` and `Year`. <br>
Then, plot the average wage of players based on Gender and Year

In [ ]:
# Create the dataframe

In [ ]:
# Plot the average wage of players based on Gender and Year